pipeline {
  agent {{.Agent.Groovy}}
  environment {
    ORG = 'REPLACE_ME_ORG'
    APP_NAME = 'REPLACE_ME_APP_NAME'
    CHARTMUSEUM_CREDS = credentials('jenkins-x-chartmuseum')
{{- .Environment}}
  }
  stages {
    stage('CI Build and push snapshot') {
      when {
        branch 'PR-*'
      }
      environment {
        PREVIEW_VERSION = "0.0.0-SNAPSHOT-$BRANCH_NAME-$BUILD_NUMBER"
        PREVIEW_NAMESPACE = "$APP_NAME-$BRANCH_NAME".toLowerCase()
        HELM_RELEASE = "$PREVIEW_NAMESPACE".toLowerCase()
      }
      steps {
{{.Pipelines.PullRequest.Groovy}}
      }
    }
    stage('Build Release') {
      when {
        branch 'master'
      }
      steps {
{{.Pipelines.Release.AllButPromote.Groovy}}
      }
    }
    stage('Promote to Environments') {
      when {
        branch 'master'
      }
      steps {
{{.Pipelines.Release.Promote.Groovy}}
      }
    }
  }
{{- if .Pipelines.Post.Groovy }}
  post {
{{.Pipelines.Post.Groovy}}
  }
{{- end }}
}
