---
swagger: "2.0"
info:
  description: "Code against the Bitbucket API to automate simple tasks, embed Bitbucket\
    \ data into your own site, build mobile or desktop apps, or even add custom UI\
    \ add-ons into Bitbucket itself using the Connect framework."
  version: "2.0"
  title: "Bitbucket API"
  termsOfService: "https://www.atlassian.com/legal/customer-agreement"
  contact:
    name: "Bitbucket Support"
    url: "https://support.atlassian.com/bitbucket-cloud/"
    email: "support@bitbucket.org"
host: "api.bitbucket.org"
basePath: "/2.0"
tags:
- name: "users"
  description: ""
- name: "teams"
  description: ""
- name: "repositories"
  description: ""
- name: "source"
  description: "Browse the source code in the repository and\n                   \
    \           create new commits by uploading."
- name: "refs"
  description: ""
- name: "commits"
  description: ""
- name: "pullrequests"
  description: ""
- name: "issue_tracker"
  description: "The issue resources provide functionality for getting information\
    \ on\nissues in an issue tracker, creating new issues, updating them and deleting\n\
    them.\n\nYou can access public issues without authentication, but you can't gain\
    \ access\nto private repositories' issues. By authenticating, you will get the\
    \ ability\nto create issues, as well as access to updating data or deleting issues\
    \ you\nhave access to."
- name: "wiki"
  description: ""
- name: "downloads"
  description: ""
- name: "snippets"
  description: ""
- name: "webhooks"
  description: "Webhooks provide a way to configure Bitbucket Cloud to make requests\
    \ to\nyour server (or another external service) whenever certain events occur\
    \ in\nBitbucket Cloud.\n\nA webhook consists of:\n\n* A subject -- The resource\
    \ that generates the events. Currently, this resource\n  is the repository, user\
    \ account, or team where you create the webhook.\n* One or more event -- The default\
    \ event is a repository push, but you can\n  select multiple events that can trigger\
    \ the webhook.\n* A URL -- The endpoint where you want Bitbucket to send the event\
    \ payloads\n  when a matching event happens.\n\nThere are two parts to getting\
    \ a webhook to work: creating the webhook and\ntriggering the webhook. After you\
    \ create a webhook for an event, every time\nthat event occurs, Bitbucket sends\
    \ a payload request that describes the event\nto the specified URL. Thus, you\
    \ can think of webhooks as a kind of\nnotification system.\n\nUse webhooks to\
    \ integrate applications with Bitbucket Cloud. The following\nuse cases provides\
    \ examples of when you would want to use webhooks:\n\n* Every time a user pushes\
    \ commits in a repository, you may want to notify\n  your CI server to start a\
    \ build.\n* Every time a user pushes commits or creates a pull request, you may\
    \ want to\n  display a notification in your application.\n"
- name: "commitstatuses"
  description: "Commit statuses provide a way to tag commits with meta data,\nlike\
    \ automated build results.\n"
- name: "branchrestrictions"
  description: "Repository owners and administrators can set branch management\nrules\
    \ on a repository that control what can be pushed by whom.\nThrough these rules,\
    \ you can enforce a project or team\nworkflow. For example, owners or administrators\
    \ can:\n\n* Limit push powers\n* Prevent branch (bookmark) deletion\n* Prevent\
    \ history re-writes (Git only)\n"
- name: "projects"
  description: "Bitbucket Cloud projects make it easier for teams to focus on\na goal,\
    \ product, or process by organizing their repositories.\n"
- name: "pipelines"
  description: "Bitbucket Pipelines brings continuous delivery to Bitbucket\nCloud,\
    \ empowering teams with full branching to deployment\nvisibility and faster feedback\
    \ loops.\n"
schemes:
- "https"
consumes:
- "application/json"
produces:
- "application/json"
paths:
  /repositories/{username}/{repo_slug}/refs/branches/{name}:
    get:
      tags:
      - "refs"
      description: ""
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "name"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Name"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "repository"
      - basic: []
      - api_key: []
  /teams/{username}/following:
    get:
      tags:
      - "teams"
      description: "Returns the list of accounts this team is following."
      parameters:
      - name: "username"
        in: "path"
        description: "The team's username"
        required: true
        type: "string"
        x-exportParamName: "Username"
      responses:
        200:
          description: "A paginated list of user objects."
          schema:
            $ref: "#/definitions/paginated_users"
        404:
          description: "If no team exists for the specified name, or if the specified\
            \ account is a personal account, not a team account."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "account"
      - basic: []
      - api_key: []
  /user/permissions/repositories:
    get:
      tags:
      - "repositories"
      description: "Returns an object for each repository the caller has explicit\
        \ access\nto and their effective permission — the highest level of permission\
        \ the\ncaller has. This does not return public repositories that the user\
        \ was\nnot granted any specific permission in, and does not distinguish between\n\
        direct and indirect privileges.\n\nPermissions can be:\n\n* `admin`\n* `write`\n\
        * `read`\n\nExample:\n\n```\n$ curl https://api.bitbucket.org/2.0/user/permissions/repositories\n\
        \n{\n  \"pagelen\": 10,\n  \"values\": [\n    {\n      \"type\": \"repository_permission\"\
        ,\n      \"user\": {\n        \"type\": \"user\",\n        \"username\": \"\
        evzijst\",\n        \"display_name\": \"Erik van Zijst\",\n        \"uuid\"\
        : \"{d301aafa-d676-4ee0-88be-962be7417567}\"\n      },\n      \"repository\"\
        : {\n        \"type\": \"repository\",\n        \"name\": \"geordi\",\n  \
        \      \"full_name\": \"bitbucket/geordi\",\n        \"uuid\": \"{85d08b4e-571d-44e9-a507-fa476535aa98}\"\
        \n      },\n      \"permission\": \"admin\"\n    }\n  ],\n  \"page\": 1,\n\
        \  \"size\": 1\n}\n```\n\nResults may be further [filtered or sorted](../../../meta/filtering)\
        \ by\nrepository or permission by adding the following query string\nparameters:\n\
        \n* `q=repository.name=\"geordi\"` or `q=permission>\"read\"`\n* `sort=repository.name`\n\
        \nNote that the query parameter values need to be URL escaped so that `=`\n\
        would become `%3D`."
      parameters:
      - name: "q"
        in: "query"
        description: "\nQuery string to narrow down the response as per\n[filtering\
          \ and sorting](../../../meta/filtering)."
        required: false
        type: "string"
        x-exportParamName: "Q"
      - name: "sort"
        in: "query"
        description: "\nName of a response property sort the result by as per\n[filtering\
          \ and sorting](../../../meta/filtering#query-sort).\n"
        required: false
        type: "string"
        x-exportParamName: "Sort"
      responses:
        200:
          description: "Repository permissions for the repositories a caller has explicit\
            \ access to."
          schema:
            $ref: "#/definitions/paginated_repository_permissions"
      security:
      - oauth2:
        - "account"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/commit/{sha}/comments/{comment_id}:
    get:
      tags:
      - "commits"
      description: "Returns the specified commit comment."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "sha"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Sha"
      - name: "comment_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "CommentId"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "repository"
      - basic: []
      - api_key: []
  /teams/{username}/pipelines_config/variables/{variable_uuid}:
    get:
      tags:
      - "pipelines"
      description: "Retrieve a team level variable."
      operationId: "getPipelineVariableForTeam"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "variable_uuid"
        in: "path"
        description: "The UUID of the variable to retrieve."
        required: true
        type: "string"
        x-exportParamName: "VariableUuid"
      responses:
        200:
          description: "The variable."
          schema:
            $ref: "#/definitions/pipeline_variable"
        404:
          description: "The account or variable with the given UUID was not found."
          schema:
            $ref: "#/definitions/error"
    put:
      tags:
      - "pipelines"
      description: "Update a team level variable."
      operationId: "updatePipelineVariableForTeam"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "variable_uuid"
        in: "path"
        description: "The UUID of the variable."
        required: true
        type: "string"
        x-exportParamName: "VariableUuid"
      - in: "body"
        name: "_body"
        description: "The updated variable."
        required: true
        schema:
          $ref: "#/definitions/pipeline_variable"
        x-exportParamName: "Body"
      responses:
        200:
          description: "The variable was updated."
          schema:
            $ref: "#/definitions/pipeline_variable"
        404:
          description: "The account or the variable was not found."
          schema:
            $ref: "#/definitions/error"
    delete:
      tags:
      - "pipelines"
      description: "Delete a team level variable."
      operationId: "deletePipelineVariableForTeam"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "variable_uuid"
        in: "path"
        description: "The UUID of the variable to delete."
        required: true
        type: "string"
        x-exportParamName: "VariableUuid"
      responses:
        204:
          description: "The variable was deleted"
        404:
          description: "The account or the variable with the provided UUID does not\
            \ exist."
          schema:
            $ref: "#/definitions/error"
  /repositories/{username}/{repo_slug}/hooks:
    get:
      tags:
      - "repositories"
      - "webhooks"
      description: "Returns a paginated list of webhooks installed on this repository."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        200:
          description: "The paginated list of installed webhooks."
          schema:
            $ref: "#/definitions/paginated_webhook_subscriptions"
        403:
          description: "If the authenticated user does not have permission to access\
            \ the webhooks."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "If the repository does not exist."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "webhook"
      - basic: []
      - api_key: []
    post:
      tags:
      - "repositories"
      - "webhooks"
      description: "Creates a new webhook on the specified repository.\n\nExample:\n\
        \n```\n$ curl -X POST -u credentials -H 'Content-Type: application/json' \
        \          https://api.bitbucket.org/2.0/repositories/username/slug/hooks\
        \           -d '\n    {\n      \"description\": \"Webhook Description\",\n\
        \      \"url\": \"https://example.com/\",\n      \"active\": true,\n     \
        \ \"events\": [\n        \"repo:push\",\n        \"issue:created\",\n    \
        \    \"issue:updated\"\n      ]\n    }'\n```\n\nNote that this call requires\
        \ the webhook scope, as well as any scope\nthat applies to the events that\
        \ the webhook subscribes to. In the\nexample above that means: `webhook`,\
        \ `repository` and `issue`.\n\nAlso note that the `url` must properly resolve\
        \ and cannot be an\ninternal, non-routed address."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        201:
          description: "If the webhook was registered successfully."
          schema:
            $ref: "#/definitions/webhook_subscription"
          headers:
            Location:
              type: "string"
              description: "The URL of new newly created webhook."
        403:
          description: "If the authenticated user does not have permission to install\
            \ webhooks on the specified repository."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "If the repository does not exist."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "webhook"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/pullrequests/{pull_request_id}/statuses:
    get:
      tags:
      - "repositories"
      - "pullrequests"
      - "commitstatuses"
      description: "Returns all statuses (e.g. build results) for the given pull\n\
        request."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "pull_request_id"
        in: "path"
        description: "The pull request's id"
        required: true
        type: "integer"
        x-exportParamName: "PullRequestId"
      responses:
        200:
          description: "A paginated list of all commit statuses for this pull request."
          schema:
            $ref: "#/definitions/paginated_commitstatuses"
        401:
          description: "If the repository is private and the request was not authenticated."
        404:
          description: "If the specified repository or pull request does not exist."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "pullrequest"
      - basic: []
      - api_key: []
  /teams/{username}/projects/:
    get:
      tags:
      - "projects"
      description: ""
      parameters:
      - name: "username"
        in: "path"
        description: "The team which owns the project. This can either be the `username`\
          \ of\nthe team or the `UUID` of the team (surrounded by curly-braces (`{}`)).\n"
        required: true
        type: "string"
        x-exportParamName: "Username"
      responses:
        200:
          description: "A paginated list of projects that belong to the specified\
            \ team."
          schema:
            $ref: "#/definitions/paginated_projects"
        403:
          description: "The requesting user isn't authorized to read the list of projects\
            \ for the specified team."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "A team doesn't exist at this location."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "project"
      - basic: []
      - api_key: []
    post:
      tags:
      - "projects"
      description: "Creates a new project.\n\nNote that the avatar has to be embedded\
        \ as either a data-url\nor a URL to an external image as shown in the examples\
        \ below:\n\n```\n$ body=$(cat << EOF\n{\n    \"name\": \"Mars Project\",\n\
        \    \"key\": \"MARS\",\n    \"description\": \"Software for colonizing mars.\"\
        ,\n    \"links\": {\n        \"avatar\": {\n            \"href\": \"data:image/gif;base64,R0lGODlhEAAQAMQAAORHHOVSKudfOulrSOp3WOyDZu6QdvCchPGolfO0o/...\"\
        \n        }\n    },\n    \"is_private\": false\n}\nEOF\n)\n$ curl -H \"Content-Type:\
        \ application/json\" \\\n       -X POST \\\n       -d \"$body\" \\\n     \
        \  https://api.bitbucket.org/2.0/teams/teams-in-space/projects/ | jq .\n{\n\
        \  // Serialized project document\n}\n```\n\nor even:\n\n```\n$ body=$(cat\
        \ << EOF\n{\n    \"name\": \"Mars Project\",\n    \"key\": \"MARS\",\n   \
        \ \"description\": \"Software for colonizing mars.\",\n    \"links\": {\n\
        \        \"avatar\": {\n            \"href\": \"http://i.imgur.com/72tRx4w.gif\"\
        \n        }\n    },\n    \"is_private\": false\n}\nEOF\n)\n$ curl -H \"Content-Type:\
        \ application/json\" \\\n       -X POST \\\n       -d \"$body\" \\\n     \
        \  https://api.bitbucket.org/2.0/teams/teams-in-space/projects/ | jq .\n{\n\
        \  // Serialized project document\n}\n```"
      parameters:
      - name: "username"
        in: "path"
        description: "The team which owns the project. This can either be the `username`\
          \ of\nthe team or the `UUID` of the team (surrounded by curly-braces (`{}`)).\n"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - in: "body"
        name: "_body"
        required: true
        schema:
          $ref: "#/definitions/project"
        x-exportParamName: "Body"
      responses:
        201:
          description: "A new project has been created."
          schema:
            $ref: "#/definitions/project"
          headers:
            Location:
              type: "string"
              description: "The location of the newly created project"
        403:
          description: "The requesting user isn't authorized to create the project."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "A team doesn't exist at this location."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "project:write"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/issues/{issue_id}/attachments/{path}:
    get:
      tags:
      - "issue_tracker"
      description: "Returns the contents of the specified file attachment.\n\nNote\
        \ that this endpoint does not return a JSON response, but instead\nreturns\
        \ a redirect pointing to the actual file that in turn will return\nthe raw\
        \ contents.\n\nThe redirect URL contains a one-time token that has a limited\
        \ lifetime.\nAs a result, the link should not be persisted, stored, or shared."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "path"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Path"
      - name: "issue_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "IssueId"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        302:
          description: "A redirect to the file's contents"
          headers:
            Location:
              type: "string"
        401:
          description: "If the issue tracker is private and the request was not authenticated."
        404:
          description: "If the specified repository or issue does not exist, or if\
            \ the repository doesn't have the issue tracker enabled."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "issue"
      - basic: []
      - api_key: []
    delete:
      tags:
      - "issue_tracker"
      description: "Deletes an attachment."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "path"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Path"
      - name: "issue_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "IssueId"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        204:
          description: "Indicates that the deletion was successful"
        401:
          description: "If the issue tracker is private and the request was not authenticated."
        404:
          description: "If the specified repository, issue, or attachment does not\
            \ exist, or if the repository doesn't have the issue tracker enabled."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "issue:write"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/versions/{version_id}:
    get:
      tags:
      - "issue_tracker"
      description: "Returns the specified issue tracker version object."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "version_id"
        in: "path"
        description: "The version's id"
        required: true
        type: "integer"
        x-exportParamName: "VersionId"
      responses:
        200:
          description: "The specified version object."
          schema:
            $ref: "#/definitions/version"
        404:
          description: "If the specified repository or version does not exist, or\
            \ if the repository doesn't have the issue tracker enabled."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "issue"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/issues/{issue_id}/vote:
    get:
      tags:
      - "issue_tracker"
      description: "Check whether the authenticated user has voted for this issue.\n\
        A 204 status code indicates that the user has voted, while a 404\nimplies\
        \ they haven't."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "issue_id"
        in: "path"
        description: "The issue's id"
        required: true
        type: "integer"
        x-exportParamName: "IssueId"
      responses:
        204:
          description: "If the authenticated user has not voted for this issue."
          schema:
            $ref: "#/definitions/error"
        401:
          description: "When the request wasn't authenticated."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "If the authenticated user has not voted for this issue, or\
            \ when the repo does not exist, or does not have an issue tracker."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "issue"
        - "account"
      - basic: []
      - api_key: []
    put:
      tags:
      - "issue_tracker"
      description: "Vote for this issue.\n\nTo cast your vote, do an empty PUT. The\
        \ 204 status code indicates that\nthe operation was successful."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "issue_id"
        in: "path"
        description: "The issue's id"
        required: true
        type: "integer"
        x-exportParamName: "IssueId"
      responses:
        204:
          description: "Indicating the authenticated user has cast their vote successfully."
          schema:
            $ref: "#/definitions/error"
        401:
          description: "When the request wasn't authenticated."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "When the issue does not exist, the repo does not exist, or\
            \ when the repos does not have an issue tracker."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "issue"
        - "account:write"
      - basic: []
      - api_key: []
    delete:
      tags:
      - "issue_tracker"
      description: "Retract your vote."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "issue_id"
        in: "path"
        description: "The issue's id"
        required: true
        type: "integer"
        x-exportParamName: "IssueId"
      responses:
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "issue:write"
        - "account:write"
      - basic: []
      - api_key: []
  /users/{username}/pipelines_config/variables/{variable_uuid}:
    get:
      tags:
      - "pipelines"
      description: "Retrieve a user level variable."
      operationId: "getPipelineVariableForUser"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "variable_uuid"
        in: "path"
        description: "The UUID of the variable to retrieve."
        required: true
        type: "string"
        x-exportParamName: "VariableUuid"
      responses:
        200:
          description: "The variable."
          schema:
            $ref: "#/definitions/pipeline_variable"
        404:
          description: "The account or variable with the given UUID was not found."
          schema:
            $ref: "#/definitions/error"
    put:
      tags:
      - "pipelines"
      description: "Update a user level variable."
      operationId: "updatePipelineVariableForUser"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "variable_uuid"
        in: "path"
        description: "The UUID of the variable."
        required: true
        type: "string"
        x-exportParamName: "VariableUuid"
      - in: "body"
        name: "_body"
        description: "The updated variable."
        required: true
        schema:
          $ref: "#/definitions/pipeline_variable"
        x-exportParamName: "Body"
      responses:
        200:
          description: "The variable was updated."
          schema:
            $ref: "#/definitions/pipeline_variable"
        404:
          description: "The account or the variable was not found."
          schema:
            $ref: "#/definitions/error"
    delete:
      tags:
      - "pipelines"
      description: "Delete an account level variable."
      operationId: "deletePipelineVariableForUser"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "variable_uuid"
        in: "path"
        description: "The UUID of the variable to delete."
        required: true
        type: "string"
        x-exportParamName: "VariableUuid"
      responses:
        204:
          description: "The variable was deleted"
        404:
          description: "The account or the variable with the provided UUID does not\
            \ exist."
          schema:
            $ref: "#/definitions/error"
  /repositories/{username}/{repo_slug}/milestones:
    get:
      tags:
      - "issue_tracker"
      description: "Returns the milestones that have been defined in the issue tracker.\n\
        \nThis resource is only available on repositories that have the issue\ntracker\
        \ enabled."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        200:
          description: "The milestones that have been defined in the issue tracker."
          schema:
            $ref: "#/definitions/paginated_milestones"
        404:
          description: "If the specified repository does not exist, or if the repository\
            \ doesn't have the issue tracker enabled."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "issue"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/pipelines/:
    get:
      tags:
      - "pipelines"
      description: "Find pipelines"
      operationId: "getPipelinesForRepository"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        description: "The repository."
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        200:
          description: "The matching pipelines."
          schema:
            $ref: "#/definitions/paginated_pipelines"
    post:
      tags:
      - "pipelines"
      description: "Endpoint to create and initiate a pipeline. \nThere are a couple\
        \ of different options to initiate a pipeline, where the payload of the request\
        \ will determine which type of pipeline will be instantiated.\n# Trigger a\
        \ Pipeline for a branch or tag\nOne way to trigger pipelines is by specifying\
        \ the reference for which you want to trigger a pipeline (e.g. a branch or\
        \ tag). \nThe specified reference will be used to determine which pipeline\
        \ definition from the `bitbucket-pipelines.yml` file will be applied to initiate\
        \ the pipeline. The pipeline will then do a clone of the repository and checkout\
        \ the latest revision of the specified reference.\n\n### Example\n\n```\n\
        $ curl -X POST -is -u username:password \\\n  -H 'Content-Type: application/json'\
        \ \\\n https://api.bitbucket.org/2.0/repositories/jeroendr/meat-demo2/pipelines/\
        \ \\\n  -d '\n  {\n    \"target\": {\n      \"ref_type\": \"branch\", \n \
        \     \"type\": \"pipeline_ref_target\", \n      \"ref_name\": \"master\"\n\
        \    }\n  }'\n```\n# Trigger a Pipeline for a commit on a branch or tag\n\
        You can initiate a pipeline for a specific commit and in the context of a\
        \ specified reference (e.g. a branch, tag or bookmark).\nThe specified reference\
        \ will be used to determine which pipeline definition from the bitbucket-pipelines.yml\
        \ file will be applied to initiate the pipeline. The pipeline will clone the\
        \ repository and then do a checkout the specified reference. \n\nThe following\
        \ reference types are supported:\n\n* `branch` \n* `named_branch`\n* `bookmark`\
        \ \n * `tag`\n\n### Example\n\n```\n$ curl -X POST -is -u username:password\
        \ \\\n  -H 'Content-Type: application/json' \\\n  https://api.bitbucket.org/2.0/repositories/jeroendr/meat-demo2/pipelines/\
        \ \\\n  -d '\n  {\n    \"target\": {\n      \"commit\": {\n        \"type\"\
        : \"commit\", \n        \"hash\": \"ce5b7431602f7cbba007062eeb55225c6e18e956\"\
        \n      }, \n      \"ref_type\": \"branch\", \n      \"type\": \"pipeline_ref_target\"\
        , \n      \"ref_name\": \"master\"\n    }\n  }'\n```\n# Trigger a specific\
        \ pipeline definition for a commit\nYou can trigger a specific pipeline that\
        \ is defined in your `bitbucket-pipelines.yml` file for a specific commit.\
        \ \nIn addition to the commit revision, you specify the type and pattern of\
        \ the selector that identifies the pipeline definition. The resulting pipeline\
        \ will then clone the repository and checkout the specified revision.\n\n\
        ### Example\n\n```\n$ curl -X POST -is -u username:password \\\n  -H 'Content-Type:\
        \ application/json' \\\n https://api.bitbucket.org/2.0/repositories/jeroendr/meat-demo2/pipelines/\
        \ \\\n -d '\n  {\n     \"target\": {\n      \"commit\": {\n         \"hash\"\
        :\"a3c4e02c9a3755eccdc3764e6ea13facdf30f923\",\n         \"type\":\"commit\"\
        \n       },\n        \"selector\": {\n           \"type\":\"custom\",\n  \
        \            \"pattern\":\"Deploy to production\"\n          },\n        \"\
        type\":\"pipeline_commit_target\"\n   }\n  }'\n```\n# Trigger a specific pipeline\
        \ definition for a commit on a branch or tag\nYou can trigger a specific pipeline\
        \ that is defined in your `bitbucket-pipelines.yml` file for a specific commit\
        \ in the context of a specified reference. \nIn addition to the commit revision,\
        \ you specify the type and pattern of the selector that identifies the pipeline\
        \ definition, as well as the reference information. The resulting pipeline\
        \ will then clone the repository a checkout the specified reference.\n\n###\
        \ Example\n\n```\n$ curl -X POST -is -u username:password \\\n  -H 'Content-Type:\
        \ application/json' \\\n https://api.bitbucket.org/2.0/repositories/jeroendr/meat-demo2/pipelines/\
        \ \\\n -d '\n  {\n     \"target\": {\n      \"commit\": {\n         \"hash\"\
        :\"a3c4e02c9a3755eccdc3764e6ea13facdf30f923\",\n         \"type\":\"commit\"\
        \n       },\n       \"selector\": {\n          \"type\": \"custom\",\n   \
        \       \"pattern\": \"Deploy to production\"\n       },\n       \"type\"\
        : \"pipeline_ref_target\",\n       \"ref_name\": \"master\",\n       \"ref_type\"\
        : \"branch\"\n     }\n  }'\n```\n"
      operationId: "createPipelineForRepository"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        description: "The repository."
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - in: "body"
        name: "_body"
        description: "The pipeline to initiate."
        required: true
        schema:
          $ref: "#/definitions/pipeline"
        x-exportParamName: "Body"
      responses:
        201:
          description: "The initiated pipeline."
          schema:
            $ref: "#/definitions/pipeline"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created pipeline."
        400:
          description: "The account or repository is not enabled, the yml file does\
            \ not exist in the repository for the given revision, or the request body\
            \ contained invalid properties."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "The account or repository was not found."
          schema:
            $ref: "#/definitions/error"
  /addon/linkers/{linker_key}/values:
    get:
      tags:
      - "addon"
      description: ""
      parameters:
      - name: "linker_key"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "LinkerKey"
      responses:
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2: []
      - basic: []
      - api_key: []
    post:
      tags:
      - "addon"
      description: ""
      parameters:
      - name: "linker_key"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "LinkerKey"
      responses:
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2: []
      - basic: []
      - api_key: []
    put:
      tags:
      - "addon"
      description: ""
      parameters:
      - name: "linker_key"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "LinkerKey"
      responses:
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2: []
      - basic: []
      - api_key: []
    delete:
      tags:
      - "addon"
      description: ""
      parameters:
      - name: "linker_key"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "LinkerKey"
      responses:
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2: []
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/issues/{issue_id}/changes:
    get:
      tags:
      - "issue_tracker"
      description: "Returns the list of all changes that have been made to the specified\n\
        issue. Changes are returned in chronological order with the oldest\nchange\
        \ first.\n\nEach time an issue is edited in the UI or through the API, an\
        \ immutable\nchange record is created. It also has a comment associated to\
        \ it.\n\n```\n$ curl -s https://api.bitbucket.org/2.0/repositories/evzijst/dogslow/issues/1/changes\
        \ - | jq .\n\n{\n  \"pagelen\": 20,\n  \"values\": [\n    {\n      \"changes\"\
        : {\n        \"priority\": {\n          \"new\": \"trivial\",\n          \"\
        old\": \"major\"\n        },\n        \"assignee\": {\n          \"new\":\
        \ \"\",\n          \"old\": \"evzijst\"\n        },\n        \"kind\": {\n\
        \          \"new\": \"enhancement\",\n          \"old\": \"bug\"\n       \
        \ }\n      },\n      \"links\": {\n        \"self\": {\n          \"href\"\
        : \"https://api.bitbucket.org/2.0/repositories/evzijst/dogslow/issues/1/changes/2\"\
        \n        },\n        \"html\": {\n          \"href\": \"https://bitbucket.org/evzijst/dogslow/issues/1#comment-2\"\
        \n        }\n      },\n      \"issue\": {\n        \"links\": {\n        \
        \  \"self\": {\n            \"href\": \"https://api.bitbucket.org/2.0/repositories/evzijst/dogslow/issues/1\"\
        \n          }\n        },\n        \"type\": \"issue\",\n        \"id\": 1,\n\
        \        \"repository\": {\n          \"links\": {\n            \"self\":\
        \ {\n              \"href\": \"https://api.bitbucket.org/2.0/repositories/evzijst/dogslow\"\
        \n            },\n            \"html\": {\n              \"href\": \"https://bitbucket.org/evzijst/dogslow\"\
        \n            },\n            \"avatar\": {\n              \"href\": \"https://bitbucket.org/evzijst/dogslow/avatar/32/\"\
        \n            }\n          },\n          \"type\": \"repository\",\n     \
        \     \"name\": \"dogslow\",\n          \"full_name\": \"evzijst/dogslow\"\
        ,\n          \"uuid\": \"{988b17c6-1a47-4e70-84ee-854d5f012bf6}\"\n      \
        \  },\n        \"title\": \"Updated title\"\n      },\n      \"created_on\"\
        : \"2018-03-03T00:35:28.353630+00:00\",\n      \"user\": {\n        \"username\"\
        : \"evzijst\",\n        \"display_name\": \"evzijst\",\n        \"type\":\
        \ \"user\",\n        \"uuid\": \"{aaa7972b-38af-4fb1-802d-6e3854c95778}\"\
        ,\n        \"links\": {\n          \"self\": {\n            \"href\": \"https://api.bitbucket.org/2.0/users/evzijst\"\
        \n          },\n          \"html\": {\n            \"href\": \"https://bitbucket.org/evzijst/\"\
        \n          },\n          \"avatar\": {\n            \"href\": \"https://bitbucket.org/account/evzijst/avatar/32/\"\
        \n          }\n        }\n      },\n      \"message\": {\n        \"raw\"\
        : \"Removed assignee, changed kind and priority.\",\n        \"markup\": \"\
        markdown\",\n        \"html\": \"<p>Removed assignee, changed kind and priority.</p>\"\
        ,\n        \"type\": \"rendered\"\n      },\n      \"type\": \"issue_change\"\
        ,\n      \"id\": 2\n    }\n  ],\n  \"page\": 1\n}\n```\n\nChanges support\
        \ [filtering and sorting](../../../meta/filtering) that\ncan be used to search\
        \ for specific changes. For instance, to see\nwhen an issue transitioned to\
        \ \"resolved\":\n\n```\n$ curl -s https://api.bitbucket.org/2.0/repositories/site/master/issues/1/changes\
        \ \\\n   -G --data-urlencode='q=changes.state.new = \"resolved\"'\n```\n\n\
        This resource is only available on repositories that have the issue\ntracker\
        \ enabled."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "issue_id"
        in: "path"
        description: "The issue id"
        required: true
        type: "string"
        x-exportParamName: "IssueId"
      - name: "q"
        in: "query"
        description: "\nQuery string to narrow down the response as per\n[filtering\
          \ and sorting](../../../meta/filtering)."
        required: false
        type: "string"
        x-exportParamName: "Q"
      - name: "sort"
        in: "query"
        description: "\nName of a response property to sort the result by as per\n\
          [filtering and sorting](../../../meta/filtering#query-sort).\n"
        required: false
        type: "string"
        x-exportParamName: "Sort"
      responses:
        200:
          description: "Returns all the issue changes that were made on the specified\
            \ issue."
          schema:
            $ref: "#/definitions/paginated_log_entries"
      security:
      - oauth2:
        - "issue"
      - basic: []
      - api_key: []
    post:
      tags:
      - "issue_tracker"
      description: "Makes a change to the specified issue.\n\nFor example, to change\
        \ an issue's state and assignee, create a new\nchange object that modifies\
        \ these fields:\n\n```\ncurl https://api.bitbucket.org/2.0/site/master/issues/1234/changes\
        \ \\\n  -s -u evzijst -X POST -H \"Content-Type: application/json\" \\\n \
        \ -d '{\n    \"changes\": {\n      \"assignee\": {\n        \"new\": \"evzijst\"\
        \n      },\n      \"state\": {\n        \"new\": 'resolved\"\n      }\n  \
        \  }\n    \"message\": {\n      \"raw\": \"This is now resolved.\"\n    }\n\
        \  }'\n```\n\nThe above example also includes a custom comment to go alongside\
        \ the\nchange. This comment will also be visible on the issue page in the\
        \ UI.\n\nNote that the fields of the `changes` object are strings, not objects.\n\
        This allows for immutable change log records, even after user accounts,\n\
        milestones, or other objects recorded in a change entry, get renamed or\n\
        deleted.\n\nThe assignee field stores the username. When POSTing a new change\
        \ and\nchanging the assignee, the client should also use the username in the\n\
        `changes.assignee.new` field.\n\nThis call requires authentication. Private\
        \ repositories or private\nissue trackers require the caller to authenticate\
        \ with an account that\nhas appropriate authorization."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "issue_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "IssueId"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - in: "body"
        name: "_body"
        description: "The new issue state change. Note that the only required elements\
          \ are `changes.[].new`. All other elements can be omitted from the body."
        required: true
        schema:
          $ref: "#/definitions/issue_change"
        x-exportParamName: "Body"
      responses:
        201:
          description: "The newly created issue change."
          schema:
            $ref: "#/definitions/issue_change"
          headers:
            Location:
              type: "string"
              description: "The (absolute) URL of the newly created issue change."
        401:
          description: "When the request wasn't authenticated."
          schema:
            $ref: "#/definitions/error"
        403:
          description: "When the authenticated user lacks the privilege to modify\
            \ the specified issue."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "If the specified repository or issue does not exist, or if\
            \ the repository doesn't have the issue tracker enabled."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "issue:write"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/refs/branches:
    get:
      tags:
      - "refs"
      description: ""
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "repository"
      - basic: []
      - api_key: []
  /hook_events/{subject_type}:
    get:
      tags:
      - "webhooks"
      description: "Returns a paginated list of all valid webhook events for the\n\
        specified entity.\n\nThis is public data that does not require any scopes\
        \ or authentication.\n\nExample:\n\nNOTE: The following example is a truncated\
        \ response object for the `team` `subject_type`.\nWe return the same structure\
        \ for the other `subject_type` objects.\n\n```\n$ curl https://api.bitbucket.org/2.0/hook_events/team\n\
        {\n    \"page\": 1,\n    \"pagelen\": 30,\n    \"size\": 21,\n    \"values\"\
        : [\n        {\n            \"category\": \"Repository\",\n            \"\
        description\": \"Whenever a repository push occurs\",\n            \"event\"\
        : \"repo:push\",\n            \"label\": \"Push\"\n        },\n        {\n\
        \            \"category\": \"Repository\",\n            \"description\": \"\
        Whenever a repository fork occurs\",\n            \"event\": \"repo:fork\"\
        ,\n            \"label\": \"Fork\"\n        },\n        ...\n        {\n \
        \           \"category\": \"Repository\",\n            \"description\": \"\
        Whenever a repository import occurs\",\n            \"event\": \"repo:imported\"\
        ,\n            \"label\": \"Import\"\n        }\n    ]\n}\n```"
      parameters:
      - name: "subject_type"
        in: "path"
        description: "A resource or subject type."
        required: true
        type: "string"
        enum:
        - "user"
        - "repository"
        - "team"
        x-exportParamName: "SubjectType"
      responses:
        200:
          description: "A paginated list of webhook types available to subscribe on."
          schema:
            $ref: "#/definitions/paginated_hook_events"
        404:
          description: "If an invalid `{subject_type}` value was specified."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2: []
      - basic: []
      - api_key: []
  /users/{username}/followers:
    get:
      tags:
      - "users"
      description: "Returns the list of accounts that are following this team."
      parameters:
      - name: "username"
        in: "path"
        description: "The account's username"
        required: true
        type: "string"
        x-exportParamName: "Username"
      responses:
        200:
          description: "A paginated list of user objects."
          schema:
            $ref: "#/definitions/paginated_users"
        404:
          description: "If no account exists for the specified name, or if the specified\
            \ account is a team account, not a personal account."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2: []
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/default-reviewers:
    get:
      tags:
      - "pullrequests"
      description: "Returns the repository's default reviewers.\n\nThese are the users\
        \ that are automatically added as reviewers on every\nnew pull request that\
        \ is created."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        200:
          description: "The paginated list of default reviewers"
      security:
      - oauth2:
        - "repository:admin"
      - basic: []
      - api_key: []
  /teams/{username}/search/code:
    get:
      parameters: []
      responses:
        200:
          schema:
            $ref: "#/definitions/search_result"
  /teams/{username}/pipelines_config/variables/:
    get:
      tags:
      - "pipelines"
      description: "Find account level variables."
      operationId: "getPipelineVariablesForTeam"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      responses:
        200:
          description: "The found account level variables."
          schema:
            $ref: "#/definitions/paginated_pipeline_variables"
    post:
      tags:
      - "pipelines"
      description: "Create an account level variable."
      operationId: "createPipelineVariableForTeam"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - in: "body"
        name: "_body"
        description: "The variable to create."
        required: false
        schema:
          $ref: "#/definitions/pipeline_variable"
        x-exportParamName: "Body"
      responses:
        201:
          description: "The created variable."
          schema:
            $ref: "#/definitions/pipeline_variable"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created pipeline variable."
        404:
          description: "The account does not exist."
          schema:
            $ref: "#/definitions/error"
        409:
          description: "A variable with the provided key already exists."
          schema:
            $ref: "#/definitions/error"
  /repositories/{username}/{repo_slug}/downloads/{filename}:
    get:
      tags:
      - "downloads"
      description: "Return a redirect to the contents of a download artifact.\n\n\
        This endpoint returns the actual file contents and not the artifact's\nmetadata.\n\
        \n    $ curl -s -L https://api.bitbucket.org/2.0/repositories/evzijst/git-tests/downloads/hello.txt\n\
        \    Hello World"
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "filename"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Filename"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "repository"
      - basic: []
      - api_key: []
    delete:
      tags:
      - "downloads"
      description: "Deletes the specified download artifact from the repository."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "filename"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Filename"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "repository:write"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/commit/{node}/statuses/build/{key}:
    get:
      tags:
      - "repositories"
      - "commitstatuses"
      description: "Returns the specified build status for a commit."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "node"
        in: "path"
        description: "The commit's SHA1"
        required: true
        type: "string"
        x-exportParamName: "Node"
      - name: "key"
        in: "path"
        description: "The build status' unique key"
        required: true
        type: "string"
        x-exportParamName: "Key"
      responses:
        200:
          description: "The build status object with the specified key."
          schema:
            $ref: "#/definitions/commitstatus"
        401:
          description: "If the repository is private and the request was not authenticated."
        404:
          description: "If the repository, commit, or build status key does not exist"
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "repository"
      - basic: []
      - api_key: []
    put:
      tags:
      - "repositories"
      - "commitstatuses"
      description: "Used to update the current status of a build status object on\
        \ the\nspecific commit.\n\nThis operation can also be used to change other\
        \ properties of the\nbuild status:\n\n* `state`\n* `name`\n* `description`\n\
        * `url`\n* `refname`\n\nThe `key` cannot be changed."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "node"
        in: "path"
        description: "The commit's SHA1"
        required: true
        type: "string"
        x-exportParamName: "Node"
      - name: "key"
        in: "path"
        description: "The commit status' unique key"
        required: true
        type: "string"
        x-exportParamName: "Key"
      - in: "body"
        name: "_body"
        description: "The updated build status object"
        required: false
        schema:
          $ref: "#/definitions/commitstatus"
        x-exportParamName: "Body"
      responses:
        200:
          description: "The updated build status object."
          schema:
            $ref: "#/definitions/commitstatus"
        401:
          description: "If the repository is private and the request was not authenticated."
        404:
          description: "If the repository or build does not exist"
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "repository"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/watchers:
    get:
      tags:
      - "repositories"
      description: "Returns a paginated list of all the watchers on the specified\n\
        repository."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "repository"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/components:
    get:
      tags:
      - "issue_tracker"
      description: "Returns the components that have been defined in the issue tracker.\n\
        \nThis resource is only available on repositories that have the issue\ntracker\
        \ enabled."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        200:
          description: "The components that have been defined in the issue tracker."
          schema:
            $ref: "#/definitions/paginated_components"
        404:
          description: "If the specified repository does not exist, or if the repository\
            \ doesn't have the issue tracker enabled."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "issue"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/properties/{app_key}/{property_name}:
    get:
      parameters: []
    put:
      parameters: []
    delete:
      parameters: []
  /snippets/{username}/{encoded_id}/commits:
    get:
      tags:
      - "snippets"
      description: "Returns the changes (commits) made on this snippet."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "encoded_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "EncodedId"
      responses:
        200:
          description: "The paginated list of snippet commits."
          schema:
            $ref: "#/definitions/paginated_snippet_commit"
        403:
          description: "If the authenticated user does not have access to the snippet."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "If the snippet does not exist."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "snippet"
      - basic: []
      - api_key: []
  /users/{username}/repositories:
    get:
      tags:
      - "users"
      - "teams"
      description: "All repositories owned by a user/team. This includes private\n\
        repositories, but filtered down to the ones that the calling user has\naccess\
        \ to."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      responses:
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "repository"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/pullrequests/activity:
    get:
      tags:
      - "pullrequests"
      description: "Returns a paginated list of the pull request's activity log.\n\
        \nThis includes comments that were made by the reviewers, updates and\napprovals."
      parameters:
      - name: "username"
        in: "path"
        description: "This can either be the username or the UUID of the user,\nsurrounded\
          \ by curly-braces, for example: `{user UUID}`.\n"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        description: "This can either be the repository slug or the UUID of the repository,\n\
          surrounded by curly-braces, for example: `{repository UUID}`.\n"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "pull_request_id"
        in: "path"
        description: "The id of the pull request.\n"
        required: true
        type: "integer"
        x-exportParamName: "PullRequestId"
      responses:
        200:
          description: "The pull request activity log"
        401:
          description: "If the repository is private and the request was not authenticated."
        404:
          description: "If the specified repository does not exist."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "pullrequest"
      - basic: []
      - api_key: []
  /snippets/{username}/{encoded_id}/comments/{comment_id}:
    get:
      tags:
      - "snippets"
      description: "Returns the specific snippet comment."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "comment_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "CommentId"
      - name: "encoded_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "EncodedId"
      responses:
        200:
          description: "The specified comment."
          schema:
            $ref: "#/definitions/snippet_comment"
        403:
          description: "If the authenticated user does not have access to the snippet."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "If the comment or snippet does not exist."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "snippet"
      - basic: []
      - api_key: []
    put:
      tags:
      - "snippets"
      description: "Updates a comment.\n\nComments can only be updated by their author."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "comment_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "CommentId"
      - name: "encoded_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "EncodedId"
      responses:
        200:
          description: "The updated comment object."
        403:
          description: "If the authenticated user does not have access to the snippet."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "If the comment or snippet does not exist."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "snippet"
      - basic: []
      - api_key: []
    delete:
      tags:
      - "snippets"
      description: "Deletes a snippet comment.\n\nComments can only be removed by\
        \ their author."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "comment_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "CommentId"
      - name: "encoded_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "EncodedId"
      responses:
        204:
          description: "Indicates the comment was deleted successfully."
        403:
          description: "If the authenticated user is not the author of the comment."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "If the comment or the snippet does not exist."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "snippet"
      - basic: []
      - api_key: []
  /teams/{username}/permissions:
    get:
      tags: []
      description: "Returns an object for each team permission a user on the team\
        \ has.\n\nPermissions returned are effective permissions — if a user is a\
        \ member of\nmultiple groups with distinct roles, only the highest level is\
        \ returned.\n\nPermissions can be:\n\n* `admin`\n* `collaborator`\n\nOnly\
        \ users with admin permission for the team may access this resource.\n\nExample:\n\
        \n```\n$ curl https://api.bitbucket.org/2.0/teams/atlassian_tutorial/permissions\n\
        \n{\n  \"pagelen\": 10,\n  \"values\": [\n    {\n      \"permission\": \"\
        admin\",\n      \"type\": \"team_permission\",\n      \"user\": {\n      \
        \  \"type\": \"user\",\n        \"username\": \"evzijst\",\n        \"display_name\"\
        : \"Erik van Zijst\",\n        \"uuid\": \"{d301aafa-d676-4ee0-88be-962be7417567}\"\
        \n      },\n      \"team\": {\n        \"username\": \"bitbucket\",\n    \
        \    \"display_name\": \"Atlassian Bitbucket\",\n        \"uuid\": \"{4cc6108a-a241-4db0-96a5-64347ac04f87}\"\
        \n      }\n    },\n    {\n      \"permission\": \"collaborator\",\n      \"\
        type\": \"team_permission\",\n      \"user\": {\n        \"type\": \"user\"\
        ,\n        \"username\": \"seanaty\",\n        \"display_name\": \"Sean Conaty\"\
        ,\n        \"uuid\": \"{504c3b62-8120-4f0c-a7bc-87800b9d6f70}\"\n      },\n\
        \      \"team\": {\n        \"username\": \"bitbucket\",\n        \"display_name\"\
        : \"Atlassian Bitbucket\",\n        \"uuid\": \"{4cc6108a-a241-4db0-96a5-64347ac04f87}\"\
        \n      }\n    }\n  ],\n  \"page\": 1,\n  \"size\": 2\n}\n```\n\nResults may\
        \ be further [filtered or sorted](../../../meta/filtering) by\nteam, user,\
        \ or permission by adding the following query string\nparameters:\n\n* `q=user.username=\"\
        evzijst\"` or `q=permission=\"admin\"`\n* `sort=team.display_name`\n\nNote\
        \ that the query parameter values need to be URL escaped so that `=`\nwould\
        \ become `%3D`."
      parameters:
      - name: "username"
        in: "path"
        description: "This can either be the username or the UUID of the team,\nsurrounded\
          \ by curly-braces, for example: `{team UUID}`.\n"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "q"
        in: "query"
        description: "\nQuery string to narrow down the response as per\n[filtering\
          \ and sorting](../../../meta/filtering)."
        required: false
        type: "string"
        x-exportParamName: "Q"
      - name: "sort"
        in: "query"
        description: "\nName of a response property sort the result by as per\n[filtering\
          \ and sorting](../../../meta/filtering#query-sort).\n"
        required: false
        type: "string"
        x-exportParamName: "Sort"
      responses:
        200:
          description: "Repositories owned by a team."
          schema:
            $ref: "#/definitions/paginated_team_permissions"
        403:
          description: "The requesting user isn't an admin of the team."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "team"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/diff/{spec}:
    get:
      tags:
      - "commits"
      description: "Produces a raw, git-style diff for either a single commit (diffed\n\
        against its first parent), or a revspec of 2 commits (e.g.\n`3a8b42..9ff173`\
        \ where the first commit represents the source and the\nsecond commit the\
        \ destination).\n\nIn case of the latter (diffing a revspec), a 3-way diff,\
        \ or merge diff,\nis computed. This shows the changes introduced by the left\
        \ branch\n(`3a8b42` in our example) as compared againt the right branch\n\
        (`9ff173`).\n\nThis is equivalent to merging the left branch into the right\
        \ branch and\nthen computing the diff of the merge commit against its first\
        \ parent\n(the right branch). This follows the same behavior as pull requests\n\
        that also show this style of 3-way, or merge diff.\n\nWhile similar to patches,\
        \ diffs:\n\n* Don't have a commit header (username, commit message, etc)\n\
        * Support the optional `path=foo/bar.py` query param to filter\n  the diff\
        \ to just that one file diff\n\nThe raw diff is returned as-is, in whatever\
        \ encoding the files in the\nrepository use. It is not decoded into unicode.\
        \ As such, the\ncontent-type is `text/plain`."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "spec"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Spec"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "context"
        in: "query"
        description: "Generate diffs with <n> lines of context instead of the usual\
          \ three"
        required: false
        type: "integer"
        x-exportParamName: "Context"
      - name: "path"
        in: "query"
        description: "Limit the diff to a particular file (this parameter\ncan be\
          \ repeated for multiple paths)"
        required: false
        type: "string"
        x-exportParamName: "Path"
      - name: "ignore_whitespace"
        in: "query"
        description: "Generate diffs that ignore whitespace"
        required: false
        type: "boolean"
        x-exportParamName: "IgnoreWhitespace"
      responses:
        200:
          description: "The raw diff"
        555:
          description: "If the diff was too large and timed out.\n\nSince this endpoint\
            \ does not employ any form of pagination, but\ninstead returns the diff\
            \ as a single document, it can run into\ntrouble on very large diffs.\
            \ If Bitbucket times out in cases\nlike these, a 555 status code is returned."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "repository"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/pipelines_config/schedules/{schedule_uuid}:
    get:
      tags:
      - "pipelines"
      description: "Retrieve a schedule by its UUID."
      operationId: "getRepositoryPipelineSchedule"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        description: "The repository."
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "schedule_uuid"
        in: "path"
        description: "The uuid of the schedule."
        required: true
        type: "string"
        x-exportParamName: "ScheduleUuid"
      responses:
        200:
          description: "The requested schedule."
          schema:
            $ref: "#/definitions/pipeline_schedule"
        404:
          description: "The account, repository or schedule was not found."
          schema:
            $ref: "#/definitions/error"
    put:
      tags:
      - "pipelines"
      description: "Update a schedule."
      operationId: "updateRepositoryPipelineSchedule"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        description: "The repository."
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "schedule_uuid"
        in: "path"
        description: "The uuid of the schedule."
        required: true
        type: "string"
        x-exportParamName: "ScheduleUuid"
      - in: "body"
        name: "_body"
        description: "The schedule to update."
        required: true
        schema:
          $ref: "#/definitions/pipeline_schedule"
        x-exportParamName: "Body"
      responses:
        200:
          description: "The schedule is updated."
          schema:
            $ref: "#/definitions/pipeline_schedule"
        404:
          description: "The account, repository or schedule was not found."
          schema:
            $ref: "#/definitions/error"
    delete:
      tags:
      - "pipelines"
      description: "Delete a schedule."
      operationId: "deleteRepositoryPipelineSchedule"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        description: "The repository."
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "schedule_uuid"
        in: "path"
        description: "The uuid of the schedule."
        required: true
        type: "string"
        x-exportParamName: "ScheduleUuid"
      responses:
        204:
          description: "The schedule was deleted."
        404:
          description: "The account, repository or schedule was not found."
          schema:
            $ref: "#/definitions/error"
  /repositories/{username}/{repo_slug}/branch-restrictions:
    get:
      tags:
      - "branchrestrictions"
      description: "Returns a paginated list of all branch restrictions on the\nrepository."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        200:
          description: "A paginated list of branch restrictions"
          schema:
            $ref: "#/definitions/paginated_branchrestrictions"
        401:
          description: "If the request was not authenticated"
          schema:
            $ref: "#/definitions/error"
        403:
          description: "If the authenticated user does not have admin access to the\
            \ repository"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "If the repository does not exist"
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "repository:admin"
      - basic: []
      - api_key: []
    post:
      tags:
      - "branchrestrictions"
      description: "Creates a new branch restriction rule for a repository.\n\n`kind`\
        \ describes what will be restricted. Allowed values are: `push`,\n`force`,\
        \ `delete`, and `restrict_merges`.\n\nDifferent kinds of branch restrictions\
        \ have different requirements:\n\n* `push` and `restrict_merges` require `users`\
        \ and `groups` to be\n  specified. Empty lists are allowed, in which case\
        \ permission is\n  denied for everybody.\n* `force` can not be specified in\
        \ a Mercurial repository.\n\n`pattern` is used to determine which branches\
        \ will be restricted.\n\nA `'*'` in `pattern` will expand to match zero or\
        \ more characters, and\nevery other character matches itself. For example,\
        \ `'foo*'` will match\n`'foo'` and `'foobar'`, but not `'barfoo'`. `'*'` will\
        \ match all\nbranches.\n\n`users` and `groups` are lists of user names and\
        \ group names.\n\n`kind` and `pattern` must be unique within a repository;\
        \ adding new\nusers or groups to an existing restriction should be done via\
        \ `PUT`.\n\nNote that branch restrictions with overlapping patterns are allowed,\n\
        but the resulting behavior may be surprising."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - in: "body"
        name: "_body"
        description: "The new rule"
        required: true
        schema:
          $ref: "#/definitions/branchrestriction"
        x-exportParamName: "Body"
      responses:
        201:
          description: "A paginated list of branch restrictions"
          schema:
            $ref: "#/definitions/branchrestriction"
        401:
          description: "If the request was not authenticated"
          schema:
            $ref: "#/definitions/error"
        403:
          description: "If the authenticated user does not have admin access to the\
            \ repository"
          schema:
            $ref: "#/definitions/error"
        404:
          description: "If the repository does not exist"
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "repository:admin"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/issues/{issue_id}/comments/{comment_id}:
    get:
      tags:
      - "issue_tracker"
      description: "Returns the specified issue comment object."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "comment_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "CommentId"
      - name: "issue_id"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "IssueId"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        default:
          description: "Unexpected error."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "issue"
      - basic: []
      - api_key: []
  /teams/{username}/projects/{project_key}:
    get:
      tags:
      - "projects"
      description: ""
      parameters:
      - name: "username"
        in: "path"
        description: "The team which owns the project. This can either be the `username`\
          \ of\nthe team or the `UUID` of the team (surrounded by curly-braces (`{}`)).\n"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "project_key"
        in: "path"
        description: "The project in question. This can either be the actual `key`\
          \ assigned\nto the project or the `UUID` (surrounded by curly-braces (`{}`)).\n"
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      responses:
        200:
          description: "The project object."
          schema:
            $ref: "#/definitions/project"
        403:
          description: "The requesting user isn't authorized to access the project."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "A project isn't hosted at this location."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "project"
      - basic: []
      - api_key: []
    put:
      tags:
      - "projects"
      description: "Since this endpoint can be used to both update and to create a\n\
        project, the request body depends on the intent.\n\n### Creation\n\nSee the\
        \ POST documentation for the project collection for an\nexample of the request\
        \ body.\n\nNote: The `key` should not be specified in the body of request\n\
        (since it is already present in the URL). The `name` is required,\neverything\
        \ else is optional.\n\n### Update\n\nSee the POST documentation for the project\
        \ collection for an\nexample of the request body.\n\nNote: The key is not\
        \ required in the body (since it is already in\nthe URL). The key may be specified\
        \ in the body, if the intent is\nto change the key itself. In such a scenario,\
        \ the location of the\nproject is changed and is returned in the `Location`\
        \ header of the\nresponse."
      parameters:
      - name: "username"
        in: "path"
        description: "The team which owns the project. This can either be the `username`\
          \ of\nthe team or the `UUID` of the team (surrounded by curly-braces (`{}`)).\n"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "project_key"
        in: "path"
        description: "The project in question. This can either be the actual `key`\
          \ assigned\nto the project or the `UUID` (surrounded by curly-braces (`{}`)).\n"
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      - in: "body"
        name: "_body"
        required: true
        schema:
          $ref: "#/definitions/project"
        x-exportParamName: "Body"
      responses:
        200:
          description: "The existing project is has been updated."
          schema:
            $ref: "#/definitions/project"
          headers:
            Location:
              type: "string"
              description: "The location of the project. This header is only provided\n\
                when the project key is updated."
        201:
          description: "A new project has been created."
          schema:
            $ref: "#/definitions/project"
          headers:
            Location:
              type: "string"
              description: "The location of the newly created project"
        403:
          description: "The requesting user isn't authorized to update or create the\
            \ project."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "A team doesn't exist at the location. Note that the project's\
            \ absence from this location doesn't raise a 404, since a PUT at a non-existent\
            \ location can be used to create a new project."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "project:write"
      - basic: []
      - api_key: []
    delete:
      tags:
      - "projects"
      description: ""
      parameters:
      - name: "username"
        in: "path"
        description: "The team which owns the project. This can either be the `username`\
          \ of\nthe team or the `UUID` of the team (surrounded by curly-braces (`{}`)).\n"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "project_key"
        in: "path"
        description: "The project in question. This can either be the actual `key`\
          \ assigned\nto the project or the `UUID` (surrounded by curly-braces (`{}`)).\n"
        required: true
        type: "string"
        x-exportParamName: "ProjectKey"
      responses:
        204:
          description: "Successful deletion."
        403:
          description: "The requesting user isn't authorized to delete the project\
            \ or the project isn't empty."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "A project isn't hosted at this location."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "project:write"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/hooks/{uid}:
    get:
      tags:
      - "repositories"
      - "webhooks"
      description: "Returns the webhook with the specified id installed on the specified\n\
        repository."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "uid"
        in: "path"
        description: "The installed webhook's id."
        required: true
        type: "string"
        x-exportParamName: "Uid"
      responses:
        200:
          description: "The webhook subscription object."
          schema:
            $ref: "#/definitions/webhook_subscription"
        404:
          description: "If the webhook or repository does not exist."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "webhook"
      - basic: []
      - api_key: []
    put:
      tags:
      - "repositories"
      - "webhooks"
      description: "Updates the specified webhook subscription.\n\nThe following properties\
        \ can be mutated:\n\n* `description`\n* `url`\n* `active`\n* `events`"
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "uid"
        in: "path"
        description: "The installed webhook's id"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      responses:
        200:
          description: "The webhook subscription object."
          schema:
            $ref: "#/definitions/webhook_subscription"
        403:
          description: "If the authenticated user does not have permission to update\
            \ the webhook."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "If the webhook or repository does not exist."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "webhook"
      - basic: []
      - api_key: []
    delete:
      tags:
      - "repositories"
      - "webhooks"
      description: "Deletes the specified webhook subscription from the given\nrepository."
      parameters:
      - name: "username"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - name: "uid"
        in: "path"
        description: "The installed webhook's id"
        required: true
        type: "string"
        x-exportParamName: "Uid"
      responses:
        204:
          description: "When the webhook was deleted successfully"
        403:
          description: "If the authenticated user does not have permission to delete\
            \ the webhook."
          schema:
            $ref: "#/definitions/error"
        404:
          description: "If the webhook or repository does not exist."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2:
        - "webhook"
      - basic: []
      - api_key: []
  /repositories/{username}/{repo_slug}/pipelines_config/variables/:
    get:
      tags:
      - "pipelines"
      description: "Find repository level variables."
      operationId: "getRepositoryPipelineVariables"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        description: "The repository."
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      responses:
        200:
          description: "The retrieved variables."
          schema:
            $ref: "#/definitions/paginated_pipeline_variables"
    post:
      tags:
      - "pipelines"
      description: "Create a repository level variable."
      operationId: "createRepositoryPipelineVariable"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - name: "repo_slug"
        in: "path"
        description: "The repository."
        required: true
        type: "string"
        x-exportParamName: "RepoSlug"
      - in: "body"
        name: "_body"
        description: "The variable to create."
        required: true
        schema:
          $ref: "#/definitions/pipeline_variable"
        x-exportParamName: "Body"
      responses:
        201:
          description: "The variable was created."
          schema:
            $ref: "#/definitions/pipeline_variable"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created pipeline variable."
        404:
          description: "The account or repository does not exist."
          schema:
            $ref: "#/definitions/error"
        409:
          description: "A variable with the provided key already exists."
          schema:
            $ref: "#/definitions/error"
  /users/{username}:
    get:
      tags:
      - "users"
      description: "Gets the public information associated with a user account.\n\n\
        If the user's profile is private, `location`, `website` and\n`created_on`\
        \ elements are omitted."
      parameters:
      - name: "username"
        in: "path"
        description: "The account's username or UUID."
        required: true
        type: "string"
        x-exportParamName: "Username"
      responses:
        200:
          description: "The user object"
          schema:
            $ref: "#/definitions/user"
        404:
          description: "If no user exists for the specified name or UUID, or if the\
            \ specified account is a team account, not a personal account."
          schema:
            $ref: "#/definitions/error"
      security:
      - oauth2: []
      - basic: []
      - api_key: []
  /users/{username}/pipelines_config/variables/:
    get:
      tags:
      - "pipelines"
      description: "Find user level variables."
      operationId: "getPipelineVariablesForUser"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      responses:
        200:
          description: "The found user level variables."
          schema:
            $ref: "#/definitions/paginated_pipeline_variables"
    post:
      tags:
      - "pipelines"
      description: "Create a user level variable."
      operationId: "createPipelineVariableForUser"
      parameters:
      - name: "username"
        in: "path"
        description: "The account."
        required: true
        type: "string"
        x-exportParamName: "Username"
      - in: "body"
        name: "_body"
        description: "The variable to create."
        required: false
        schema:
          $ref: "#/definitions/pipeline_variable"
        x-exportParamName: "Body"
      responses:
        201:
          description: "The created variable."
          schema:
            $ref: "#/definitions/pipeline_variable"
          headers:
            Location:
              type: "string"
              description: "The URL of the newly created pipeline variable."
        404:
          description: "The account does not exist."
          schema:
            $ref: "#/definitions/error"
        409:
          description: "A variable with the provided key already exists."
          schema:
            $ref: "#/definitions/error"
  /snippets/{username}/{encoded_id}:
    get:
      tags:
      - "snippets"
      description: "Retrieves a single snippet.\n\nSnippets support multiple content\
        \ types:\n\n* application/json\n* multipart/related\n* multipart/form-data\n\
        \n\napplication/json\n----------------\n\nThe default content type of the\
        \ response is `application/json`.\nSince JSON is always `utf-8`, it cannot\
        \ reliably contain file contents\nfor files that are not text. Therefore,\
        \ JSON snippet documents only\ncontain the filename and links to the file\
        \ contents.\n\nThis means that in order to retrieve all parts of a snippet,\
        \ N+1\nrequests need to be made (where N is the number of files in the\nsnippet).\n\
        \n\nmultipart/related\n-----------------\n\nTo retrieve an entire snippet\
        \ in a single response, use the\n`Accept: multipart/related` HTTP request\
        \ header.\n\n    $ curl -H \"Accept: multipart/related\" https://api.bitbucket.org/2.0/snippets/evzijst/1\n\
        \nResponse:\n\n    HTTP/1.1 200 OK\n    Content-Length: 2214\n    Content-Type:\
        \ multipart/related; start=\"snippet\"; boundary=\"===============1438169132528273974==\"\
        \n    MIME-Version: 1.0\n\n    --===============1438169132528273974==\n  \
        \  Content-Type: application/json; charset=\"utf-8\"\n    MIME-Version: 1.0\n\
        \    Content-ID: snippet\n\n    {\n      \"links\": {\n        \"self\": {\n\
        \          \"href\": \"https://api.bitbucket.org/2.0/snippets/evzijst/kypj\"\
        \n        },\n        \"html\": {\n          \"href\": \"https://bitbucket.org/snippets/evzijst/kypj\"\
        \n        },\n        \"comments\": {\n          \"href\": \"https://api.bitbucket.org/2.0/snippets/evzijst/kypj/comments\"\
        \n        },\n        \"watchers\": {\n          \"href\": \"https://api.bitbucket.org/2.0/snippets/evzijst/kypj/watchers\"\
        \n        },\n        \"commits\": {\n          \"href\": \"https://api.bitbucket.org/2.0/snippets/evzijst/kypj/commits\"\
        \n        }\n      },\n      \"id\": kypj,\n      \"title\": \"My snippet\"\
        ,\n      \"created_on\": \"2014-12-29T22:22:04.790331+00:00\",\n      \"updated_on\"\
        : \"2014-12-29T22:22:04.790331+00:00\",\n      \"is_private\": false,\n  \
        \    \"files\": {\n        \"foo.txt\": {\n          \"links\": {\n      \
        \      \"self\": {\n              \"href\": \"https://api.bitbucket.org/2.0/snippets/evzijst/kypj/files/367ab19/foo.txt\"\
        \n            },\n            \"html\": {\n              \"href\": \"https://bitbucket.org/snippets/evzijst/kypj#file-foo.txt\"\
        \n            }\n          }\n        },\n        \"image.png\": {\n     \
        \     \"links\": {\n            \"self\": {\n              \"href\": \"https://api.bitbucket.org/2.0/snippets/evzijst/kypj/files/367ab19/image.png\"\
        \n            },\n            \"html\": {\n              \"href\": \"https://bitbucket.org/snippets/evzijst/kypj#file-image.png\"\
        \n            }\n          }\n        }\n      ],\n      \"owner\": {\n  \
        \      \"username\": \"evzijst\",\n        \"display_name\": \"Erik van Zijst\"\
        ,\n        \"uuid\": \"{d301aafa-d676-4ee0-88be-962be7417567}\",\n       \
        \ \"links\": {\n          \"self\": {\n            \"href\": \"https://api.bitbucket.org/2.0/users/evzijst\"\
        \n          },\n          \"html\": {\n            \"href\": \"https://bitbucket.org/evzijst\"\
        \n          },\n          \"avatar\": {\n            \"href\": \"https://bitbucket-staging-assetroot.s3.amazonaws.com/c/photos/2013/Jul/31/erik-avatar-725122544-0_avatar.png\"\
        \n          }\n        }\n      },\n      \"creator\": {\n        \"username\"\
        : \"evzijst\",\n        \"display_name\": \"Erik van Zijst\",\n        \"\
        uuid\": \"{d301aafa-d676-4ee0-88be-962be7417567}\",\n        \"links\": {\n\
        \          \"self\": {\n            \"href\": \"https://api.bitbucket.org/2.0/users/evzijst\"\
        \n          },\n          \"html\": {\n            \"href\": \"https://bitbucket.org/evzijst\"\
        \n          },\n          \"avatar\": {\n            \"href\": \"https://bitbucket-staging-assetroot.s3.amazonaws.com/c/photos/2013/Jul/31/erik-avatar-725122544-0_avatar.png\"\
        \n          }\n        }\n      }\n    }\n\n    --===============1438169132528273974==\n\
        \    Content-Type: text/plain; charset=\"us-ascii\"\n    MIME-Version: 1.0\n\
        \    Content-Transfer-Encoding: 7bit\n    Content-ID: \"foo.txt\"\n    Content-Disposition:\
        \ attachment; filename=\"foo.txt\"\n\n    foo\n\n    --===============1438169132528273974==\n\
        \    Content-Type: image/png\n    MIME-Version: 1.0\n    Content-Transfer-Encoding:\
        \ base64\n    Content-ID: \"image.png\"\n    Content-Disposition: attachment;\
        \ filename=\"image.png\"\n\n    iVBORw0KGgoAAAANSUhEUgAAABQAAAAoCAYAAAD+MdrbAAABD0lEQVR4Ae3VMUoDQRTG8ccUaW2m\n\
        \    TKONFxArJYJamCvkCnZTaa+VnQdJSBFl2SMsLFrEWNjZBZs0JgiL/+KrhhVmJRbCLPx4O+/DT2TB\n\
        \    cbblJxf+UWFVVRNsEGAtgvJxnLm2H+A5RQ93uIl+3632PZyl/skjfOn9Gvdwmlcw5aPUwimG+NT5\n\
        \    EnNN036IaZePUuIcK533NVfal7/5yjWeot2z9ta1cAczHEf7I+3J0ws9Cgx0fsOFpmlfwKcWPuBQ\n\
        \    73Oc4FHzBaZ8llq4q1mr5B2mOUCt815qYR8eB1hG2VJ7j35q4RofaH7IG+Xrf/PfJhfmwtfFYoIN\n\
        \    AqxFUD6OMxcvkO+UfKfkOyXfKdsv/AYCHMLVkHAFWgAAAABJRU5ErkJggg==\n    --===============1438169132528273974==--\n\
        \nmultipart/form-data\n-------------------\n\nAs with creating new snippets,\
        \ `multipart/form-data` can be used as an\nalternative to `multipart/related`.\
        \ However, the inherently flat\nstructure of form-data means that only basic,\
        \ root-level properties\ncan be returned, while nested elements like `links`\
[...]
