{{- if .Values.role.enabled -}}
{{- if .Values.serviceaccount.enabled -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ template "jx.name" . }}
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ template "jx.name" . }}
subjects:
- kind: ServiceAccount
  name: {{ template "jx.fullname" . }}
  namespace: {{ .Release.Namespace }}
{{- end }}
{{- end }}