JXBasicAuth: admin:{SHA}6f5R+U6tq/VNvy+71XGIuavuQ24=
chartmuseum:
  env:
    secret:
      BASIC_AUTH_USER: admin
      BASIC_AUTH_PASS: mysecret
grafana:
  server:
    adminUser: admin
    adminPassword: mysecret
jenkins:
  Master:
    AdminPassword: mysecret
nexus:
  defaultAdminPassword: mysecret
PipelineSecrets:
  MavenSettingsXML: |
    <settings>
          <!-- sets the local maven repository outside of the ~/.m2 folder for easier mounting of secrets and repo -->
          <localRepository>${user.home}/.mvnrepository</localRepository>
          <!-- lets disable the download progress indicator that fills up logs -->
          <interactiveMode>false</interactiveMode>
          <mirrors>
              <mirror>
                  <id>nexus</id>
                  <mirrorOf>external:*</mirrorOf>
                  <url>http://nexus/repository/maven-group/</url>
              </mirror>
          </mirrors>
          <servers>
              <server>
                  <id>nexus</id>
                  <username>admin</username>
                  <password>mysecret</password>
              </server>
              <server>
                  <id>nexus</id>
                  <username>admin</username>
                  <password>mysecret</password>
              </server>
          </servers>
          <profiles>
              <profile>
                  <id>nexus</id>
                  <properties>
                      <altDeploymentRepository>nexus::default::http://nexus/repository/maven-snapshots/</altDeploymentRepository>
                      <altReleaseDeploymentRepository>nexus::default::http://nexus/repository/maven-releases/</altReleaseDeploymentRepository>
                      <altSnapshotDeploymentRepository>nexus::default::http://nexus/repository/maven-snapshots/</altSnapshotDeploymentRepository>
                  </properties>
              </profile>
              <profile>
                  <id>release</id>
                  <properties>
                      <gpg.executable>gpg</gpg.executable>
                      <gpg.passphrase>mysecretpassphrase</gpg.passphrase>
                  </properties>
              </profile>
          </profiles>
          <activeProfiles>
              <!--make the profile active all the time -->
              <activeProfile>nexus</activeProfile>
          </activeProfiles>
      </settings>
KanikoSecret:
  Data: kanikosecret